<div class="d-flex">
  <div
    class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter"
  >
    <div class="filter-widget">
      <h4 class="fw-title">Sort</h4>
      <select
        class="form-select"
        aria-label="Default select example"
        (change)="onProductSort($event.target.value)"
      >
        <option [value]="sort.value" *ngFor="let sort of sortOptions">
          {{ sort.name }}
        </option>
      </select>
    </div>
    <app-product-filter
      [items]="brands$ | async"
      [type]="'brands'"
      (filterProduct)="onProductFilter($event)"
    ></app-product-filter>

    <app-product-filter
      [items]="types$ | async"
      [type]="'types'"
      (filterProduct)="onProductFilter($event)"
    ></app-product-filter>
  </div>

  <div class="col-lg-9 order-1 order-lg-2">
    <div class="product-show-option">
      <div class="row d-flex align-items-center">
        <div class="col-lg-5 col-md-5">
          <app-paging-header
            [shopParams]="shopParams"
            [totalItems]="totalItems"
          ></app-paging-header>
        </div>

        <div class="input-group mb-3 col-lg-7 col-md-7">
          <form (submit)="onSearch()" class="d-flex align-items-center">
            <button class="btn btn-outline-success mr-2" type="submit">
              Search
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary mr-2"
              (click)="onResetSearch()"
            >
              Reset
            </button>
            <input
              type="text"
              class="form-control"
              placeholder=""
              aria-label=""
              aria-describedby="basic-addon1"
              name="search"
              [(ngModel)]="shopParams.search"
            />
          </form>
        </div>
      </div>
    </div>
    <div class="product-list">
      <div class="row mb-3">
        <div
          class="col-lg-4 col-sm-6 product-container"
          *ngFor="let product of products$ | async"
        >
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
    </div>
    <div
      class="d-flex justify-content-center"
      *ngIf="totalItems && totalItems !== 0"
    >
      <app-pagination
        [shopParams]="shopParams"
        [totalItems]="totalItems"
        (changePage)="onPageChange($event)"
      ></app-pagination>
    </div>
  </div>
</div>
