<div class="card shadow-sm product-item">
  <div class="product-item__pic">
    <img [src]="product.pictureUrl" alt="" />
  </div>
  <div class="card-body">
    <a routerLink="/shop/{{ product.id }}">{{ product.name }}</a>
    <p>
      {{ product.productBrand }}
    </p>
    <p>{{ product.price }}$</p>
    <div
      class="d-flex justify-content-center align-items-center product-item__btn"
    >
      <div class="btn-group">
        <button
          routerLink="/shop/{{ product.id }}"
          type="button"
          class="btn btn-sm btn-outline-secondary mr-2"
        >
          View
        </button>
        <button
          routerLink="/shop/{{ product.id }}"
          type="button"
          class="btn btn-sm btn-outline-secondary"
        >
          Buy
        </button>
      </div>
    </div>
  </div>
</div>
